body {
    background-color: rgb(255, 205, 255);
}

.jumbotron {
    background-image: url(/blog/static/blog/images/apple_blossom_gradient.jpg);
}

h1, h2, h3, h4, h5, h6, p {
    color: midnightblue;
    font-family: 'Montserrat', sans-serif;
}
  
a:hover {
    color: midnightblue;
    background-color: transparent;
    text-decoration: underline;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover {
  background-color: red !important;
}