{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% if doc_title %}
    <title>{{ doc_title }}</title>
  {% else %}
    <title>peacock blog</title>
  {% endif %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  
  <!-- Optional JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <!-- Google Font Family -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <!-- Load static CSS file (which we imported at the top of this file)-->
  <link rel="stylesheet" href="{% static 'blog/style.css' %}">

</head>
<body>

<div id="peacock_heading_bar">
  <div class="jumbotron text-center">
    <a class="btn" href="{% url 'bloghome' %}"><h1>peacock_paradise</h1></a><br>
    <a class="btn" href="{% url 'bio' %}"><h4>Anni Movsisyan</h4></a><br>
    <a class="btn" href="{% url 'bio' %}"><h5>Artist, Musician, Educator</h5></a>
  </div>
</div>

<div id="nav_bar">
  <nav>
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        {% if doc_title == 'home' %}
          <a class="nav-link active" href="{% url 'bloghome' %}"><p>Latest</p></a>
        {% else %}
          <a class="nav-link" href="{% url 'bloghome' %}"><p>Latest</p></a>
        {% endif%}
      </li>
      <li class="nav-item">
        {% if doc_title == 'index' %}
          <a class="nav-link active" href="{% url 'index' %}"><p>Index</p></a>
        {% else %}
          <a class="nav-link" href="{% url 'index' %}"><p>Index</p></a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if doc_title == 'bio' %}
          <a class="nav-link active" href="{% url 'bio' %}"><p>Bio</p></a>
        {% else %}
          <a class="nav-link" href="{% url 'bio' %}"><p>Bio</p></a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if doc_title == 'tags' %}
          <a class="nav-link active" href="{% url 'tags' %}"><p>#Tags</p></a>
        {% else %}
          <a class="nav-link" href="{% url 'tags' %}"><p>#Tags</p></a>
        {% endif %}
      </li>      
    </ul>
  </nav>      
</div>

<br><br>

<div id="content">
  {% block content %}

    <span id="tag_pills">
      {% block tag_pills %}
        <a href="{% url 'tagpage' tag.name %}" class="badge badge-pill badge-dark" title="See all projects with tag #{{ tag }}">
          #{{ tag.name }}
        </a>
      {% endblock %}
    </span>

  {% endblock %}
</div>

<br><br>

</body>
</html>
