{% extends 'blog/base.html' %}

{% block content %}

<div class="container justify-center text-center">
        <h2>Artist, musician and workshop facilitator</h2>
        <br>
        <h4>Based in London, UK</h4> 
        <br><br>
        
        <img src="/static/blog/images/headshot_illustration.jpg" alt="headshot_illustration.jpg" title="Illustrated headshot of artist with peacock" width=100%>
        
        <br><br>
        <h5>I am interested in reimagining the world, and do this by unpicking our understandings of power and their legacies, aiming to facilitate a nuanced dialogue around the colonial matrix we live within. My practice tries to find ways of de-linking from coloniality that I can embody and realise in relation to my context as an Armenian-Iranian person born and living in the West, perceived as white/assimilated or non-white in different situations, and gendered as a woman. Through performance, music and other media, I intend to produce new knowledge in forms that have long been dismissed.</h5>
        <br><br>
        
        <h3>Mini-CV</h3>
        ​<br>
        
        <h4>Education</h4>
        <br>
        <ul>2016 - Open School East, Associate Artist</ul>
        <ul>2014 - University of Westminster, BA (Hons) Mixed Media Fine Art, First Class</ul>
        ​<br>
        
        <h3>Performances and Rituals</h3>  
        <br>
        <ul>2018 - DREAM_SHOUT, Bernie Grant Arts Centre</ul>
        <ul>2017 - I/Mages of Tomorrow, University of Goldsmiths</ul>
        <ul>2016 - Open Ended, Open School East</ul>
        <br><br>
</div>
{% endblock %}

