{% extends 'blog/layout.html' %}

<div id="content">
    {% block content %}

        <div class="container text-center" >
            {% for tag in tags_list %}

                <ul><span class="badge badge-pill badge-light">
                    <a href="{% url 'tagpage' tag.name %}" title="See all projects with tag #{{ tag }}">
                        #{{ tag }}
                    </a></span>
                </ul>
        
            {% endfor %}
        </div>


        {% comment %}
        <div id="image_or_carousel">
            {% block carousel %}
                {{ block.super }}
            {% endblock carousel %}
        </div>
        {% endcomment %}

    {% endblock %}
</div>
