{% extends 'blog/layout.html' %}

<div id="content">
    {% block content %}
        
        <div class="container">
            <h1>#{{ tag_name }}</h1>
            <br>
            {% for entry in matching_entries %}

                <ul><a href="{% url 'project' entry.id entry.title %}">{{ entry }}</a></ul>
        
            {% endfor %}
        </div>


        {% comment %}
        <div id="image_or_carousel">
            {% block carousel %}
                {{ block.super }}
            {% endblock carousel %}
        </div>
        {% endcomment %}

    {% endblock %}
</div>
